---
import {Icon, ThemeSwitch} from 'free-astro-components'
import Hamburguer from './Hamburguer.astro'
import {Button} from 'free-astro-components'
---

<header class="fixed inset-x-0 top-0 bg-neutral-100/60 text-neutral-700 py-4 border-b border-neutral-300/50 backdrop-blur-md z-10">
    <div class="container mx-auto px-4 flex items-center justify-between">
        <!-- Logo alineado a la izquierda -->
        <div class="flex-shrink-0">
            <a href="/" aria-label="GG Insurances" class="block">
                <img src="/logo.png" alt="GG Insurances" class="h-auto w-auto max-h-4 object-contain" />
            </a>
        </div>

        <!-- Nav enlaces centrados -->
        <nav class="flex-grow flex justify-center">
            <ul class="hidden lg:flex items-center gap-8">
                <li>
                    <a class="hover:text-primary transition duration-300 ease-in-out nav-link" href="#servicios">Servicios</a>
                </li>
                <li>
                    <a class=" hover:text-primary transition duration-300 ease-in-out nav-link" href="#about">Nosotros</a>
                </li>
                <li>
                    <a class="hover:text-primary transition duration-300 ease-in-out nav-link" href="#testimonials">Testimonios</a>
                </li>
                <li>
                    <a class="hover:text-primary transition duration-300 ease-in-out nav-link" href="#faq">Preguntas Frecuentes</a>
                </li>
                <li>
                    <a class=" hover:text-primary transition duration-300 ease-in-out nav-link" href="#contacto">Contacto</a>
                </li>
            </ul>
        </nav>

        <!-- Iconos a la derecha -->
        <div class="flex items-center gap-4">
            <div class="flex justify-center gap-4">
                <a href="https://www.instagram.com/gginsurances/" target="_blank" aria-label="Instagram">
                    <img src="/instagram.svg" alt="instagram" class="w-5 h-5 transition-transform duration-300 transform hover:scale-110"/> <!-- Aproximadamente 20px -->
                </a>
                <a href="mailto:support@globalgrowthusa.com" target="_blank" aria-label="Email">
                    <img src="/envelope.svg" alt="email" class="w-5 h-5 transition-transform duration-300 transform hover:scale-110"/> <!-- Aproximadamente 20px -->
                </a>
                <a href="tel:+18506925476" target="_blank" aria-label="Teléfono">
                    <img src="/phone.svg" alt="phone" class="w-5 h-5 transition-transform duration-300 transform hover:scale-110"/> <!-- Aproximadamente 20px -->
                </a>
            </div>

            <!-- Hamburguesa solo en móvil -->
            <div class="lg:hidden">
                <Hamburguer/>
            </div>
        </div>
    </div>
</header>

<style is:global>
    /* Asegúrate de agregar el estilo para los íconos */
    .social-icon {
        width: 20px; /* Ajusta el tamaño de los íconos */
        height: 20px; /* Asegúrate de mantener la proporción */
        transition: transform 0.3s ease; /* Transición suave para el hover */
    }

    .social-icon:hover {
        transform: scale(1.2); /* Aumenta el tamaño del ícono al pasar el mouse */
    }
</style>

<script>
    import { DOMLoaded } from '../ts/utils'

    DOMLoaded(() => {
        const body = document.querySelector('body')
        const hamburguer = document.querySelector('[data-hamburguer]')
        const nav = document.querySelector('[data-nav]')
        const navLinks = document.querySelectorAll('.nav-link')

        // Función para manejar el cierre del sidebar
        const closeSidebar = () => {
            hamburguer.removeAttribute('open')
            nav.removeAttribute('open')
            body.classList.remove('overflow-hidden')
        }

        // Evento para abrir/cerrar el sidebar
        hamburguer?.addEventListener('click', () => {
            hamburguer.toggleAttribute('open')
            nav?.toggleAttribute('open')
            body?.classList.toggle('overflow-hidden')
        })

        // Manejar clic en los enlaces de navegación
        navLinks.forEach(link => {
            link.addEventListener('click', (e) => {
                e.preventDefault() // Evitar el comportamiento por defecto del enlace
                const href = link.getAttribute('href')

                // Cerrar el sidebar
                closeSidebar()

                // Esperar un poco antes de desplazarse
                setTimeout(() => {
                    if (href) {
                        const targetId = href.slice(1)
                        const targetElement = document.getElementById(targetId)
                        if (targetElement) {
                            targetElement.scrollIntoView({ behavior: 'smooth' })
                        } else {
                            window.location.href = href
                        }
                    }
                }, 100) // Ajusta este tiempo si es necesario
            })
        })
    })
</script>

<style>
    .custom-button {
        --ac-btn-border-radius: 999px;
        --ac-btn-font-weight: 600;
        border-width: 0;
        background-image: linear-gradient(
                90deg,
                rgb(var(--ac-primary)) 0%,
                rgb(var(--ac-secondary)) 100%
        );
    }
</style>