---

interface Props {
  title?: string
  description?: string
  align?: 'center' | 'left' | 'right'
}

const { title, description, align } = Astro.props

---

<section class="pb-16 lg:pb-32">
  <div class="container">
    <div class="bg-gradient-to-r from-primary/50 to-secondary/50 rounded-3xl p-px">
      <div
          class:list={[
            'flex flex-col gap-16 bg-neutral-100 rounded-3xl px-8 lg:px-16 xl:px-24 py-16 lg:py-32',
            align === 'center' ? 'text-center' : '',
          ]}
      >
        <div class="flex flex-col gap-4">
          {
              title && (
                  <h2
                      class:list={[
                        'text-neutral-700 text-3xl lg:text-4xl [&>strong]:font-medium',
                        align === 'center' ? 'mx-auto' : '',
                      ]}
                      set:html={title}
                  />
              )
          }
          {
              description && (
                  <p
                      class:list={[
                        'text-neutral-500 lg:text-lg',
                        align === 'center' ? 'mx-auto' : '',
                      ]}
                      set:html={description}
                  />
              )
          }
        </div>

        <div>
          <slot />
        </div>

        <!-- Contenedor de iconos -->
        <div class="flex justify-center gap-6 mt-8">
          <a href="https://instagram.com" target="_blank" class="text-neutral-700 hover:text-primary transition duration-300">
            <i class="fab fa-instagram fa-2x"></i>
          </a>
          <a href="https://wa.me/1234567890" target="_blank" class="text-neutral-700 hover:text-primary transition duration-300">
            <i class="fa fa-whatsapp fa-2x"></i>
          </a>
          <a href="mailto:example@example.com" class="text-neutral-700 hover:text-primary transition duration-300">
            <i class="fas fa-envelope fa-2x"></i>
          </a>
          <a href="tel:+1234567890" class="text-neutral-700 hover:text-primary transition duration-300">
            <i class="fas fa-phone fa-2x"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>