---
import Nav from '../components/Nav.astro'
import NavItem from '../components/NavItem.astro'
import NavLink from '../components/NavLink.astro'

const { class: className } = Astro.props
---

<aside
    data-nav
    class:list={[
      'fixed left-0 inset-y-0 -translate-x-full [&[open]]:translate-x-0 lg:translate-x-0 w-full lg:w-72 bg-neutral-100/60 backdrop-blur-md pt-16 z-10 transition-all duration-300 ease-in-out',
      className,
    ]}
>
  <div
      class="w-full h-full lg:border-r border-neutral-300/50 px-5 py-4 overflow-y-auto"
  >
    <Nav>
      <NavLink href="#servicios" label="Servicios" />
      <NavLink href="#about" label="Nosotros" />
      <NavLink href="#testimonials" label="Testimonios" />
      <NavLink href="#faq" label="Preguntas Frecuentes" />
      <NavLink href="#contacto" label="Contacto" />
    </Nav>
  </div>
</aside>
